In [1]:
import requests
from bs4 import BeautifulSoup
import re
import itertools
import pandas as pd
import pgeocode

# Selecting urls for the web scraping

In [2]:
#making a requests.
url="http://www.laalmanac.com/employment/em12c.php"
r= requests.get(url).text

url2="http://www.laalmanac.com/economy/ec40b.php"
r2= requests.get(url2).text

url3="http://www.laalmanac.com/social/so14b.php"
r3= requests.get(url3).text

url4="http://www.laalmanac.com/communications/cm02a90001-90899.php"
r4= requests.get(url4).text

url5="http://www.laalmanac.com/communications/cm02a91001-93599.php"
r5= requests.get(url5).text

url6="https://www.thinkhealthla.org/demographicdata/index/view?id=1585&localeId=6084"
r6= requests.get(url6).text

url7="https://www.thinkhealthla.org/?module=demographicdata&controller=index&action=view&localeId=6084&localeTypeId=0&tagFilter=0&id=1469"
r7= requests.get(url7).text

In [3]:
url8="https://www.thinkhealthla.org/?module=demographicdata&controller=index&action=view&localeId=6503&localeTypeId=0&tagFilter=0&id=1470"
r8= requests.get(url8).text

url9="https://www.thinkhealthla.org/?module=demographicdata&controller=index&action=view&localeId=6503&localeTypeId=0&tagFilter=0&id=2377"
r9= requests.get(url9).text

url10="https://www.thinkhealthla.org/?module=demographicdata&controller=index&action=view&localeId=6503&localeTypeId=0&tagFilter=0&id=2420"
r10= requests.get(url10).text

url11="https://www.thinkhealthla.org/?module=demographicdata&controller=index&action=view&localeId=6160&localeTypeId=0&tagFilter=0&id=2771"
r11= requests.get(url11).text

url12="http://www.laalmanac.com/crime/cr03.php"
r12= requests.get(url12).text

## We have to create soup variable to make transform the request to lxml(beautiful soup)

In [4]:
#parse the page into beautiful soup format
soup = BeautifulSoup(r,"lxml")
soup2= BeautifulSoup(r2, "lxml")
soup3= BeautifulSoup(r3, 'lxml')
soup4= BeautifulSoup(r4,"lxml")
soup5= BeautifulSoup(r5, "lxml")
soup6= BeautifulSoup(r6, "lxml")
soup7= BeautifulSoup(r7, "lxml")

In [5]:
soup8= BeautifulSoup(r8, "lxml")
soup9= BeautifulSoup(r9, "lxml")
soup10= BeautifulSoup(r10, "lxml")
soup11= BeautifulSoup(r11, "lxml")
soup12= BeautifulSoup(r12, "lxml")

### Let's start with the WS

In [6]:
#Create the variable for Postal Codes for the first soup
CP=soup.find_all('td')
CP=[re.findall("^9.*", e.text) for e in CP]
CP=list(itertools.chain(*CP))

In [7]:
#Same for income
income=soup.find_all('td')
income=[re.findall("^[$].*", e.text) for e in income]
income=list(itertools.chain(*income))

In [8]:
#creating dataframe
df= pd.DataFrame({'postalCode': CP, 'Median_Income': income})

In [9]:
df.head()

  postalCode Median_Income
0      90001       $35,660
1      90002       $34,000
2      90003       $34,397
3      90004       $46,581
4      90005       $32,461

### 2ยบ scraping

In [10]:
#Create the variable for Postal Codes for the soup2
CP2=soup2.find_all('td')
CP2=[re.findall("^9.*", e.text) for e in CP2]
CP2=list(itertools.chain(*CP2))

In [11]:
#Same for median rent price and the N/A string
rent=soup2.find_all('td')
renta=[re.findall("^[$].*", e.text) for e in rent]
rentna=[re.findall("N/A", e.text) for e in rent]

In [12]:
#creating df
narent=pd.DataFrame({'renta':renta, 'na':rentna})

In [13]:
#sum renta and na
narent['renta']= narent["renta"] + narent["na"]

In [14]:
#and make the colum a list
rentaf= narent['renta'].tolist()

In [15]:
#list of list to list
rentaf=list(itertools.chain(*rentaf))

In [16]:
#this function make a loop inside a variable to group the column values  
def price(rent):
    price=[]
    count=int(input("introduce el valor de count :"))
    for e in rent:
        try:
            price.append(rent[count])
            
        except:
            continue
        count=count+6
    return price

use the function to get the prices column values

In [17]:
#valor 1
prices=price(rentaf)

introduce el valor de count :1

In [18]:
#creating a df with CP2 and prices
df2= pd.DataFrame({'postalCode': CP2, 'rental price': prices})

In [19]:
df2.head()

  postalCode rental price
0      90001       $2,347
1      90002       $2,312
2      90003       $2,282
3      90004       $2,899
4      90005       $2,840

### scraping 3

In [20]:
#same here but with soup3
vagatitle=soup3.find_all('th')
vagatitle=[re.findall("^\w.*", e.text) for e in vagatitle]
vagatitle=list(itertools.chain(*vagatitle))

In [21]:
#we select just what we need
vagatitle= vagatitle[0:6]

In [22]:
#repeating but for number of homeless
vaganum= soup3.find_all('td')
vaganum= [re.findall("^.*", e.text) for e in vaganum]
vaganum= list(itertools.chain(*vaganum))

In [23]:
#fixing an error in the web, they miss Palos Verdes name
vaganum.insert(354, 'Palos Verdes')

### from here we have to call the function price to select the values for every column, and please select the value commented for the input

In [24]:
#valor 0
cities= price(vaganum)

introduce el valor de count :0

In [25]:
#valor 2
person18=price(vaganum)

introduce el valor de count :2

In [26]:
#valor 3
person19=price(vaganum)

introduce el valor de count :3

In [27]:
#valor 5
permahouse=price(vaganum)

introduce el valor de count :5

In [28]:
#creating a DF
df3= pd.DataFrame({'city': cities,'persons counted 2018': person18, 'persons counted 2019': person19,'persons in perma housing':permahouse})

In [29]:
#here it is
df3.head()

,city,persons counted 2018,persons counted 2019,persons in perma housing
0,Los Angeles County,"52,765","58,936","11,914"
1,Agoura Hills,2,-,4
2,Alhambra,52,68,39
3,Arcadia,15,77,3
4,Artesia,16,24,8

### scraping 4

In [30]:
#selecting CP for soup4
CP3=soup4.find_all('td')
CP3=[re.findall("^9.*", e.text) for e in CP3]
CP3=list(itertools.chain(*CP3))

In [31]:
#selecting cities for soup 4
city3=soup4.find_all('td')
city3=[re.findall("^\D.*", e.text) for e in city3]
city3=list(itertools.chain(*city3))

In [32]:
#creating df4 part 1
df4_1= pd.DataFrame({'postalCode': CP3,'city': city3})

### web scraping 5

In [33]:
#getting cities for soup5
city4=soup5.find_all('td')
city4=[re.findall("^\D.*", e.text) for e in city4]
city4=list(itertools.chain(*city4))

In [34]:
#getting CP for soup 5
CP4=soup5.find_all('td')
CP4=[re.findall("^9.*", e.text) for e in CP4]
CP4=list(itertools.chain(*CP4))

In [35]:
#creating a df4 part 2
df4_2= pd.DataFrame({'postalCode': CP4,'city': city4})

In [36]:
#we have to concat part 1 and part 2 to make df4
df4 = pd.concat([df4_1,df4_2])

In [37]:
# We start with creating a new dataframe from the series with postalCode as the index
df4 = pd.DataFrame(df4.city.str.split(',').tolist(), index=df4.postalCode).stack()

In [38]:
# We now want to get rid of the secondary index
# To do this, we will make postalCode as a column (it can't be an index since the values will be duplicate)
df4 = df4.reset_index([0, 'postalCode'])

In [39]:
# The final step is to set the column names as we want them
df4.columns = ['postalCode', 'city',]

### From here we have to merge every df into just 1 df

In [40]:
#merging df1 and df2 into dffinal by zip
dffinal= df.merge(df2, on= "postalCode")

In [41]:
#adding df4 to dffinal by zip
dffinal= dffinal.merge(df4, on="postalCode")

In [42]:
#cleaning city names to merge later by city
dffinal['city']= dffinal['city'].str.replace('\(.*', '', regex=True)

In [43]:
dffinal['city']= dffinal['city'].str.replace('\)', '', regex=True)

In [44]:
#adding df3 to dffinal into a new df called dfinitivo
dfinitivo= dffinal.merge(df3, on= "city")

In [45]:
#and here it is, a single df with all the info scraped
dfinitivo.head()

,postalCode,Median_Income,rental price,city,persons counted 2018,persons counted 2019,persons in perma housing
0,90023,"$40,225","$2,201",Commerce,490,295,17
1,90040,"$43,585","$2,317",Commerce,490,295,17
2,90066,"$75,209","$3,403",Culver City,117,236,69
3,90230,"$79,242","$3,630",Culver City,117,236,69
4,90232,"$82,254","$3,472",Culver City,117,236,69

In [46]:
#make a list of zip codes
zipcode= dfinitivo['postalCode'].to_list()

In [47]:
#to fix a verify error
import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context

In [48]:
# to get coordinates
nomi = pgeocode.Nominatim('us')
coordenadas1= nomi.query_postal_code(zipcode)

In [49]:
coordenadas1=coordenadas1[['postal_code','latitude','longitude']]
coordenadas1.rename(columns={'postal_code':'postalCode'}, inplace=True)

In [50]:
# merge
dfinitivo= dfinitivo.merge(coordenadas1, on= 'postalCode')

### web scraping 6

In [51]:
#Create the variable for Postal Codes
CPage= soup6.find_all("td")
CPage=[re.findall("^9.*", e.text) for e in CPage]
CPage=list(itertools.chain(*CPage))

In [52]:
#Create the variable for Postal Codes
age= soup6.find_all("td")
age=[re.findall("^\d\d\.\d", e.text) for e in age]
age=list(itertools.chain(*age))
age=age[2:]

In [53]:
dfage=pd.DataFrame({"postalCode":CPage, "Median Age":age})

In [54]:
dfinitivo= dfinitivo.merge(dfage, on= 'postalCode')

### web scraping 7

In [55]:
CPpopu= soup7.find_all("td")
CPpopu=[re.findall("^9\d\d\d\d", e.text) for e in CPpopu]
CPpopu=list(itertools.chain(*CPpopu))

In [56]:
population= soup7.find_all("td",class_="isum-table-value-value")
population=[re.findall("^\d.*\d", e.text) for e in population]
population=list(itertools.chain(*population))
population=population[2:]
population.insert(60, '2')
population.insert(64, '4')
population.insert(232, '4')

In [57]:
dfpopulation=pd.DataFrame({"postalCode":CPage, "Population":population})

In [58]:
dfinitivo= dfinitivo.merge(dfpopulation, on= 'postalCode')

### web scraping 8

In [59]:
household= soup8.find_all("td",class_="isum-table-value-value")
household=[re.findall("^\d.*\d", e.text) for e in household]
household=list(itertools.chain(*household))
household=household[2:]
household.insert(60, '0')
household.insert(64, '0')
household.insert(232, '2')

In [60]:
dfhousehold=pd.DataFrame({"postalCode":CPage, "Household":household})

In [61]:
dfinitivo= dfinitivo.merge(dfhousehold, on= 'postalCode')

### web scraping 9

In [62]:
mlr= soup9.find_all("td",class_="isum-table-value-value")
mlr=[re.findall("^\d.*\d", e.text) for e in mlr]
mlr=list(itertools.chain(*mlr))
mlr=mlr[2:]

In [63]:
dfmlr=pd.DataFrame({"postalCode":CPage, "median lengh of residence":mlr})

In [64]:
dfinitivo= dfinitivo.merge(dfmlr, on= 'postalCode')

### web scraping 10

In [65]:
houseincome= soup10.find_all("td",class_="isum-table-value-value")
houseincome=[re.findall("\d.*\d", e.text) for e in houseincome]
houseincome=list(itertools.chain(*houseincome))
houseincome=houseincome[2:]
houseincome.insert(60, '0')
houseincome.insert(64, '0')

In [66]:
dfhic=pd.DataFrame({"postalCode":CPage, "average house income":houseincome})

In [67]:
dfinitivo= dfinitivo.merge(dfhic, on= 'postalCode')

### web scraping 11

In [68]:
unemployed= soup11.find_all("td",class_="isum-table-value-value")
unemployed=[re.findall("\d.*\d", e.text) for e in unemployed]
unemployed=list(itertools.chain(*unemployed))
unemployed=unemployed[2:]

In [69]:
dfunemployed=pd.DataFrame({"postalCode":CPage, "Unemployed %":unemployed})

In [70]:
dfinitivo= dfinitivo.merge(dfunemployed, on= 'postalCode')

In [71]:
dfinitivo.head()

,postalCode,Median_Income,rental price,city,persons counted 2018,persons counted 2019,persons in perma housing,latitude,longitude,Median Age,Population,Household,median lengh of residence,average house income,Unemployed %
0,90023,"$40,225","$2,201",Commerce,490,295,17,34.0245,-118.1975,31.4,"46,455","10,966",8.0,"59,679",6.84
1,90040,"$43,585","$2,317",Commerce,490,295,17,33.9909,-118.1532,33.2,"14,121","3,605",10.0,"63,661",9.51
2,90066,"$75,209","$3,403",Culver City,117,236,69,34.0030,-118.4298,41.1,"55,775","24,339",7.3,"127,240",5.31
3,90230,"$79,242","$3,630",Culver City,117,236,69,33.9949,-118.3991,41.8,"33,255","13,293",8.8,"127,747",5.01
4,90232,"$82,254","$3,472",Culver City,117,236,69,34.0168,-118.3973,42.2,"16,107","7,116",7.1,"122,950",3.39

In [72]:
#This is to clear the strings
dfinitivo['Median_Income']= dfinitivo['Median_Income'].str.replace('\$', '', regex=True)
dfinitivo['Median_Income']= dfinitivo['Median_Income'].str.replace(',', '', regex=True)
dfinitivo['rental price']= dfinitivo['rental price'].str.replace('\$', '', regex=True)
dfinitivo['rental price']= dfinitivo['rental price'].str.replace(',', '', regex=True)
dfinitivo['Population']= dfinitivo['Population'].str.replace(',', '', regex=True)
dfinitivo['Household']= dfinitivo['Household'].str.replace(',', '', regex=True)
dfinitivo['average house income']= dfinitivo['average house income'].str.replace(',', '', regex=True)

In [73]:
dfinitivo['persons counted 2019']= dfinitivo['persons counted 2019'].str.replace(',', '', regex=True)
dfinitivo['persons counted 2019']= dfinitivo['persons counted 2019'].str.replace('---.+', '0', regex=True)
dfinitivo['persons counted 2019']= dfinitivo['persons counted 2019'].str.replace('-', '0', regex=True)

# this is to change the types
dfinitivo['Median_Income'] = dfinitivo['Median_Income'].astype(int)
dfinitivo['rental price'] = dfinitivo['rental price'].astype(int)
dfinitivo['postalCode'] = dfinitivo['postalCode'].astype(str)
dfinitivo['latitude'] = dfinitivo['latitude'].astype(str)
dfinitivo['longitude'] = dfinitivo['longitude'].astype(str)
dfinitivo['persons counted 2019'] = dfinitivo['persons counted 2019'].astype(int)

In [74]:
dfinitivo.head()

,postalCode,Median_Income,rental price,city,persons counted 2018,persons counted 2019,persons in perma housing,latitude,longitude,Median Age,Population,Household,median lengh of residence,average house income,Unemployed %
0,90023,40225,2201,Commerce,490,295,17,34.0245,-118.1975,31.4,46455,10966,8.0,59679,6.84
1,90040,43585,2317,Commerce,490,295,17,33.9909,-118.1532,33.2,14121,3605,10.0,63661,9.51
2,90066,75209,3403,Culver City,117,236,69,34.003,-118.4298,41.1,55775,24339,7.3,127240,5.31
3,90230,79242,3630,Culver City,117,236,69,33.9949,-118.3991,41.8,33255,13293,8.8,127747,5.01
4,90232,82254,3472,Culver City,117,236,69,34.0168,-118.3973,42.2,16107,7116,7.1,122950,3.39

### web scraping 12

In [75]:
citiesla=soup12.find_all('td')
citiesla=[re.findall("^\D.+", e.text) for e in citiesla]
citiesla=list(itertools.chain(*citiesla))

In [76]:
citiesla=citiesla[1:89]

In [77]:
crime=soup12.find_all('td')
crime=[re.findall("\d.*", e.text) for e in crime]
crime=list(itertools.chain(*crime))
crime=crime[5:]

In [78]:
# this is to get the values by position
crimesla=[]
count= 0
for e in crime:
    try:
        crimesla.append(crime[count])            
    except:
        continue
    count=count+5

In [79]:
crimesla=crimesla[:88]

In [80]:
dfcrime=pd.DataFrame({"city":citiesla, "crimes":crimesla})

In [81]:
dfinitivo= dfinitivo.merge(dfcrime, on= 'city')

In [82]:
dfinitivo['persons in perma housing']= dfinitivo['persons in perma housing'].str.replace('-.+', '0', regex=True)
dfinitivo['persons in perma housing']= dfinitivo['persons in perma housing'].str.replace('-', '0', regex=True)
dfinitivo['crimes']= dfinitivo['crimes'].str.replace(',', '', regex=True)

In [83]:
dfinitivo.head()

,postalCode,Median_Income,rental price,city,persons counted 2018,persons counted 2019,persons in perma housing,latitude,longitude,Median Age,Population,Household,median lengh of residence,average house income,Unemployed %,crimes
0,90023,40225,2201,Commerce,490,295,17,34.0245,-118.1975,31.4,46455,10966,8.0,59679,6.84,128
1,90040,43585,2317,Commerce,490,295,17,33.9909,-118.1532,33.2,14121,3605,10.0,63661,9.51,128
2,90066,75209,3403,Culver City,117,236,69,34.003,-118.4298,41.1,55775,24339,7.3,127240,5.31,188
3,90230,79242,3630,Culver City,117,236,69,33.9949,-118.3991,41.8,33255,13293,8.8,127747,5.01,188
4,90232,82254,3472,Culver City,117,236,69,34.0168,-118.3973,42.2,16107,7116,7.1,122950,3.39,188

In [84]:
# to csv
dfinitivo.to_csv('./Data/dfinitivo.csv')